<nav class="navbar fixed-top bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button">Scrap</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Statistics</button>
  </form>
</nav>
