<% if @result.present? %>
  <table class="table table-striped table-hover mt-3" style="overflow-x: auto;">
    <thead class="table-dark">
    <tr>
      <th scope="col">Product</th>
      <% date_range.each do |date| %>
        <th scope="col"><%= date.strftime("%Y-%m-%d") %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @result.each do |row| %>
      <tr>
        <td>
          <%= link_to image_tag(row.image_url, size: '50x50'), row.link, target: '_blank', class: 'img-fluid' %>
          <br>
          <%= link_to row.name, row.link, target: '_blank' %>
        </td>
        <% row.average_prices.each do |avg_price| %>
          <td><%= avg_price.present? ? number_with_precision(avg_price, precision: 2) : '-' %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info text-center mt-3" role="alert">
    No data
  </div>
<% end %>
